<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form class="bg-dark text-white p-5 rounded shadow" style="min-width: 350px;" (ngSubmit)="onSubmit()">

    <div class="d-flex align-items-center mb-4">

      <a [routerLink]="'/'" class="text-light me-3 text-decoration-none" style="font-size: 1.5rem; cursor: pointer;">
        <i class="bi bi-arrow-left-circle"></i>
      </a>

      <h6 class="m-0" style="font-family: 'Segoe UI', sans-serif; font-weight: bold; font-size: 2.5rem; color: #0d6efd;">
        🏦 MAROUF BANK
      </h6>
    </div>

    <h2 class="text-center mb-4">Create Account</h2>

    <div class="mb-3">
      <label for="name" class="form-label">Full Name</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="form.name" name="name" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="form.email" name="email" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="form.password" name="password" required>
    </div>
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
  </form>
</div>
