body {
  background: #0d1117;
  background: linear-gradient(178deg, rgba(0, 0, 0, 1) 5%, rgba(7, 44, 82, 1) 60%, rgba(34, 39, 77, 1) 100%);
  color: #f1f5f9;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
